BACKEND_URL = "http://back.comunitaria.com/energy"

# Secret Token for this Central System assigned on the Supervecina backend side
# for authentication
TOKEN = "CSTOKEN"
IOTA_PUBLISHER_URL = "http://localhost:3000"
CS_URL = "ws://..."
